<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Notas - Noots</title>
    

 <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <script src="http://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.js"></script>
</head>

<body>
<section id="interface"> 

<div id="top">
  
    <h1 id="titulo"><center>Notas por Bimestre</center></h1>
    
  
</div>
       <section id="materias" >
       

       <table>
         <thead>
           <tr>
             <th>Materia</th>
             <th><center>Mensal</center></th>
             <th><center>Bimestral</center></th>
            
<th>
    <select id="#" class="nice-select">

        <option data-display="Bimestre">Bimestre</option>
        <option value="1">1º Bimestre</option>  
        <option>2º Bimestre</option>
        <option>3º Bimestre</option>
        <option>4º Bimestre</option>
    </select>
</th>
            
           </tr>
         </thead>

         <tbody>
           <% @noots.each do |noot| %>
             <tr id=<%= noot.id %> class="corpo">
               <td><%= noot.materia %> </td>
               <td id="nm"><center><%= noot.nota_mensal %></center></td>
               <td id="nb"><center><%= noot.nota_bimestral %></center></td>
               
               
            
             
               <td class="bimestre"><center><%= noot.bimestre %></center></td>
           

           

              
               <div id="actions">
                <td>
                  <ul id="lista">
              <li id="editar" >
                
               <%= link_to 'edit', edit_noot_path(noot), :class => "medium material-icons" %>
            
           </li>
         
              <li id="detalhes">
                 <%= link_to 'info', noot, :class => "medium material-icons" %> 
               </li>
              <li id="excluir" class="<%= noot.id %>" >
              <%= link_to 'delete', noot_path(noot), method: :delete, :class => "medium material-icons", :id => noot.id, :confirm "Gostaria de excluir esta nota?" %> 
            </li>
              </ul>
            </td>
                
            </div>
        
               </tr>
           <% end %>


         </tbody>
       </table>

       <br>
      
      <center>
      <div id="sub">  <a href="/materias" id="new">Nova nota</a> </div>
      </center>



       
      </section>
      
    </section>

  
      


		<button id="burger" class="open-main-nav">
			<span class="burger"></span>
			<span class="burger-text">Menu</span>
		</button>
		<nav class="main-nav" id="main-nav">
			<ul>
				<li>
					<a href="/materias" id="first">Matérias</a>
				</li>
				<li>
					<a href="/noots">Notas</a>
				</li>
				<li>
					<a href="/lownoots">Piores Notas</a>
				</li>
			
			</ul>
		</nav>

  </body>
</html>
