<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Máterias - Noots</title>

   
  <script src="//code.jquery.com/mobile/1.5.0-alpha.1/jquery.mobile-1.5.0-alpha.1.min.js"></script>

    <script type="text/javascript">

        $(document).ready(function(){

        $('#m1').mouseover(function() {
            $('head').append('<style>.hvr-outline2-out:before{border-color:#CC4521;}</style>');

            var valor1 = $("#m1").text();
           $("#noot_materia").val(valor1);
          
         });
        $('#m2').mouseover(function() {
            $('head').append('<style>.hvr-outline-out:before{border-color:#9C6E01;}</style>');

            var valor1 = $("#m2").text();
            $("#noot_materia").val(valor1);
        });
        $('#m3').mouseover(function() {
            $('head').append('<style>.hvr-outline2-out:before{border-color:#6C0863;}</style>');

            var valor1 = $("#m3").text();
            $("#noot_materia").val(valor1);
        });
        $('#m4').mouseover(function() {
            $('head').append('<style>.hvr-outline-out:before{border-color:#00C8C6;}</style>');

            var valor1 = $("#m4").text();
            $("#noot_materia").val(valor1);
        });
        $('#m5').mouseover(function() {
            $('head').append('<style>.hvr-outline-out:before{border-color:#7FC8F1;}</style>');
            var valor1 = $("#m5").text();
            $("#noot_materia").val(valor1);
        });
        $('#m6').mouseover(function() {
            $('head').append('<style>.hvr-outline-out:before{border-color:#5DDDD3;}</style>');

            var valor1 = $("#m6").text();
            $("#noot_materia").val(valor1);
        });
        $('#m7').mouseover(function() {
            $('head').append('<style>.hvr-outline-out:before{border-color:#00A5A9;}</style>');

            var valor1 = $("#m7").text();
            $("#noot_materia").val(valor1);
        });
        $('#m8').mouseover(function() {
            $('head').append('<style>.hvr-outline-out:before{border-color:#E48BFF;}</style>');

            var valor1 = $("#m8").text();
            $("#noot_materia").val(valor1);
        });
        $('#m9').mouseover(function() {
            $('head').append('<style>.hvr-outline2-out:before{border-color:#000000;}</style>');
            
            var valor1 = $("#m9").text();
            $("#noot_materia").val(valor1);
        });
        $('#m10').mouseover(function() {
            $('head').append('<style>.hvr-outline-out:before{border-color:#00B0FF;}</style>');

            var valor1 = $("#m10").text();
            $("#noot_materia").val(valor1);
        });
        $('#m11').mouseover(function() {
            $('head').append('<style>.hvr-outline-out:before{border-color:#86DAF1;}</style>');

            var valor1 = $("#m11").text();
            $("#noot_materia").val(valor1);
        });
        $('#m12').mouseover(function() {
            $('head').append('<style>.hvr-outline-out:before{border-color:#99ABFF;}</style>');

            var valor1 = $("#m12").text();
            $("#noot_materia").val(valor1);
        });
        $('#m13').mouseover(function() {
            $('head').append('<style>.hvr-outline2-out:before{border-color:#C60A1E;}</style>');
            var valor1 = $("#m13").text();
            $("#noot_materia").val(valor1);
        });
        $('#m14').mouseover(function() {
            $('head').append('<style>.hvr-outline-out:before{border-color:#43AB5F;}</style>');
            var valor1 = $("#m14").text();
            $("#noot_materia").val(valor1);
        });
        $('#m15').mouseover(function() {
            $('head').append('<style>.hvr-outline2-out:before{border-color:#F71C55;}</style>');
            var valor1 = $("#m15").text();
            $("#noot_materia").val(valor1);
        });
        $('#m16').mouseover(function() {
            $('head').append('<style>.hvr-outline-out:before{border-color:#FF757C;}</style>');
            var valor1 = $("#m16").text();
            $("#noot_materia").val(valor1);
        });






        });
        document.write('<script src="http://' + (location.host || '${1:localhost}').split(':')[0] + ':${2:35729}/livereload.js?snipver=1"></' + 'script>');
        </script>

        <!--Let browser know website is optimized for mobile-->

</head>

<body>


 

    <div id="mask"></div>

    <section class="interface">
       <section id="materias" >
       


            <center><h1>Escolha a matéria desejada.</h1></center>
            <center><h2 style="color:white;"><%= Materium.pessoa(User.search.to_s()) %></h2></center>
         
         
            <ul id="tochoosematerias">
            <center>
                <li id="m1" class="hvr-outline2-out">
                    <span>Português</span></li>

                <li id="m2" class="hvr-outline-out">
                <span>Literatura</span></li>
                <li id="m3"class="hvr-outline2-out"><span>Redação</span></li>
                <li id="m4"class="hvr-outline-out"><span>Matemática</span></li>
                <li id="m5"class="hvr-outline-out"><span>Física</span></li>
                <li id="m6"class="hvr-outline-out">
                <span>Química</span></li>
                <li id="m7"class="hvr-outline-out">
                <span>Biologia</span></li>
                <li id="m8"class="hvr-outline-out">
                    <span>Sociologia</span></li>
                <li id="m9"class="hvr-outline2-out"><span>Filosofia</span></li>
                <li id="m10"class="hvr-outline-out"><span>História</span></li>
                <li id="m11"class="hvr-outline-out"><span>Geografia</span></li>
                <li id="m12"class="hvr-outline-out"><span>Inglês</span></li>
                <li id="m13"class="hvr-outline2-out"><span>Espanhol</span></li>
                <li id="m14"class="hvr-outline-out"><span>Ed.Ambiental</span></li>
                <li id="m15"class="hvr-outline2-out"><span>Ed.Física<span></li>
                <li id="m16"class="hvr-outline-out"><span>Artes</span></li>
    </center>
            </ul>
<div>

        </section>


      
       


        <center>
        <div id="pop-up">
        <div id="dentro">
        
            <center>
                <h2>Adicionar Nota</h2>
                
                
            </center>
        
        <center>
             
            <p>
                <label id="gap">
                  <input class="with-gap" name="group3" value="1"type="radio" id="one"/>
                  <span class="cyan-text text-accent-3">1º Bimestre</span>
        
                </label>
              </p>
        
              <p>
                <label id="gap2">
                  <input class="with-gap" name="group3" type="radio" value="2" id="one2"/>
                  <span class="cyan-text text-accent-3">2º Bimestre</span>
        
                </label>
              </p>
        
              <br>
              <p style="margin-left: 7px;">
                <label id="gap3">
                  <input class="with-gap" name="group3" value="3" type="radio" id="one3">
                  <span class="cyan-text text-accent-3">3º Bimestre</span>
        
                </label>
              </p>
        
              <p>
                <label id="gap4">
                  <input class="with-gap" name="group3" value="4"type="radio" id="one4"/>
                  <span class="cyan-text text-accent-3">4º Bimestre</span>
        
                </label>
              </p>
        
        
        </center>
        
        <center><div id="line_bottom"></div></center>
        
        
       
        
        
                <%= form_for(@noot) do |form| %>
        
            <div class="field1">
                <%= form.label :materia %>
                </br>
                <%= form.text_field :materia, id: :noot_materia, autocomplete: 'off' %>
                </br>
            </div>
        </br>
            <div class="field2">
                <%= form.label :nota_mensal %>
                </br>
                <%= form.number_field :nota_mensal, id: :noot_nota_mensal, autocomplete: 'off', step: :any %>
                </br>
            </div>
            <div class="field3">
                <%= form.label :nota_bimestral %>
                </br>
                <%= form.number_field :nota_bimestral, id: :noot_nota_bimestral, autocomplete: 'off', step: :any %>
                </br>
            </div>
        
            <div class="field5">
                <%= form.label :bimestre %>
                </br>
                <%= form.text_field :bimestre, id: :noot_bimestre, autocomplete: 'off' %>
                </br>
            </div>
        </br>
        
                <%= form.submit :Salvar, class: "btn waves-effect waves-light" %>
        
        
           

                </div>  
                <% end %>
        
        </center>
</section>

<div id="hideli"></div>

<div id="circlemenu"></div>
    <!-- AREA DE MENU-->
    <section class="menu-left">
      <section id="fixed">
        
        <!---<a id="link" href="materias">  --> 
        <div id="circlematerias">
        
        
        </div>
        

        <div id="circlenoots"  onclick="window.location='/noots';"></div>
        <div id="circlelownoots" onclick="window.location='/lownoots';"></div>
    
    </section>
</section>






        </body>

</html>
